

   .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 5px;
}

.demo_wrap {
  position: relative;
  overflow: hidden;
  padding: 16px;
  border: 1px dashed green;
}
.demo_wrap h1 {
  padding: 100px;
  position: relative;
  z-index: 2;
}
.demo_wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
}

	.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 80px 20px 1fr 20px repeat(2, 10px) repeat(2, 1fr) 10px 30px repeat(2, 1fr);
grid-column-gap: 2px;
grid-row-gap: 2px;
}

.div1 { grid-area: 1 / 1 / 2 / 5; }
.div2 { grid-area: 2 / 4 / 3 / 5; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 3 / 2 / 4 / 3; }
.div5 { grid-area: 3 / 3 / 4 / 4; }
.div6 { grid-area: 3 / 4 / 4 / 5; }
.div7 { grid-area: 4 / 1 / 5 / 5; }
.div8 { grid-area: 5 / 1 / 6 / 3; }
.div9 { grid-area: 5 / 3 / 6 / 5; }
.div10 { grid-area: 6 / 1 / 7 / 3; }
.div11 { grid-area: 6 / 3 / 7 / 4; }
.div12 { grid-area: 6 / 4 / 7 / 5; }
.div13 { grid-area: 7 / 1 / 8 / 3; }
.div14 { grid-area: 8 / 1 / 9 / 2; }
.div15 { grid-area: 8 / 2 / 9 / 3; }
.div16 { grid-area: 7 / 3 / 9 / 4; }
.div17 { grid-area: 7 / 4 / 9 / 5; }
.div18 { grid-area: 9 / 1 / 10 / 5; }
.div19 { grid-area: 10 / 1 / 11 / 2; }
.div20 { grid-area: 10 / 2 / 11 / 4; }
.div21 { grid-area: 10 / 4 / 11 / 5; }
.div22 { grid-area: 11 / 1 / 12 / 5; }
.div23 { grid-area: 12 / 1 / 13 / 5; }
.parent .div2 {
	background: #e7e9ec;
	justify-self: stretch;
	align-self: stretch;
	border: black 1px solid
}

.parent .div3,
.div4 {
	background: #eff1f1;
	justify-self: stretch;
	align-self: stretch;

   border: black 1px solid
}

.parent .div5 {
	background: #d5e2e2;
	justify-self: stretch;
	align-self: stretch;
	display: flex;
    justify-content: center;

}
.parent .div6{
	background: #eff1f1;

   border: black 1px solid
}

.parent .div7, .div8, .div9, .div10,
.div11, .div12, .div18 {
	background: #aba7e6;

   border: rgb(243, 242, 242) 1px solid
}