{% extends 'layout_for.html' %}
{%block title%}DIARIO DE VENTAS{%endblock%}
{% block content %}

<body>
    <hr>
    <form action="{{url_for('diario_venta')}}" method="POST" class="row g-3 needs-validation">
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.costo.label }} {{ form.costo(class_="form-control") }}
            {% for error in form.costo.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.nombre.label }} {{ form.nombre(class_="form-control") }}
            {% for error in form.nombre.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <hr>
        <div class="col-12">
            {{ form.hidden_tag() }}
            {{ form.submit(class_="btn btn-primary") }}
          </div>
        <hr>
     
    </form> 
        <div class="list-group">
            <table class="table table-bordered">
                <tr>
                    <th>Nombre</th>
                    <th>Valor</th>
                    <th>Modificar</th>
                </tr>
                {% for cat in data %}
                <tr>
                    <td>{{cat.2}}</td>
                    <td>{{cat.1}}</td>
                    <td>
                        <a href="/edit-venta/{{cat.1}}" class="btn btn-secondary">edit</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <hr>
        
        <hr>
        <div class="col-12">
            <a href="{{ url_for('total_dia') }}" class="btn btn-dark btn-sm rounded-0">Fin</a>
        </div>


        <hr>


</body>

</html>
{% endblock %}