{% extends 'layout_for.html' %}
{%block title%}DIARIO VENTAS {%endblock%}
{% block content %}


<form action="/update_venta/{{contact.0}}" method="POST" class="row g-3 needs-validation">

  <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
    <label for="name">Valor venta: </label>
    <input type="text" name="proc" value="{{contact.0}}" class="form-control">
  </div>

  <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
    <label for="name">Descripción: </label>
    <input type="text" name="revis" value="{{contact.1}}" class="form-control">
  </div>
 


  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">
      Actualizar
    </button>
  </div>
</form>


</body>






{% endblock %}