{% extends "layout1.html" %}
{% block title %}Diario de Ventas{% endblock %}
{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-10">
      <h3>VENTAS</h3>
      <div class="panel panel-default">
        <table class="table table-bordered">
          <tr>
            <th>Nombre</th>
            <th>Ir</th>

          </tr>


          <tr>
            <td>Ventas</td>
            <td><a href="{{url_for('diario_venta')}}"><span class="glyphicon glyphicon-pencil"></span> Ir</a></td>
          </tr>
         

        </table>

      </div>
    </div>
  </div>


  {% endblock %}